a {
    text-decoration: none;
    margin: 3;
}

a.active {
    text-decoration: underline;
}


/* Clickable navigation links in top level header and the stop specific headers. */
a.navlink {
    color: inherit;
    text-decoration: none;
}

.ExternalLinkWithIcon>svg {
    margin-right: 4px;
    vertical-align: middle;
}